html {
    background-color: black;
}

body {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px; /* Ajuste o espaço entre os retângulos */
    width: 90vw;
    height: 90vh;
    margin: auto;
    margin-top: 30px;
    grid-template-areas: "red red-2 blue blue"
                         "red none blue blue"
                         "non green yellow yellow"
                         "blue-2 green purple purple";
}

.div1 {
    background-color: red;
    grid-area: red;
}

.div1-2 {
    background-color: red;
    grid-area: red-2;
    margin-left: -10px;
}

.div2 {
    background-color: blue;
    grid-area: blue;
}

.div2-1 {
    background-color: blue;
    grid-area: blue-2;
}

.div3 {
    background-color: green;
    grid-area: green;
    
}

.div4 {
    background-color: yellow;
    grid-area: yellow;
    
}

.div5 {
    background-color: purple;
    grid-area: purple;
    
}

/* Continue adicionando mais divs conforme necessário */

